In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

## German Daniel Rojas
## Universidad Sergio Arboleda

In [5]:
movie = pd.read_csv('./movie.csv') ##Import Dataset 
movie.head() ## View Data Head

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

# Punto 1 (Solución)

#### Linea de Codigo  (No 1)

Del Dataframe Original selecciona unas columnas especificas, para construir un nuevo Dataframe mas indicado.

In [21]:
movie4 = movie[['movie_title','title_year','content_rating','budget']]  
movie4.head() ##Print Result

,movie_title,title_year,content_rating,budget
0,Avatar,2009.0,PG-13,237000000.0
1,Pirates of the Caribbean: At World's End,2007.0,PG-13,300000000.0
2,Spectre,2015.0,PG-13,245000000.0
3,The Dark Knight Rises,2012.0,PG-13,250000000.0
4,Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN

## ----------------------------------------------------------------------------

#### Linea de Codigo  (No 2)

Del Sub-Dataframe obtenido anteriormente, organiza la siguientes Columnas de forma decendiente:

* 'title_year'
* 'content_rating'

Por el contrario, organiza de forma ascendente la siguiente Columna:

* 'budget'

In [20]:
movie4_sorted = movie4.sort_values(['title_year','content_rating','budget'],
                                  ascending=[False,False,True])
movie4_sorted.head()## Print Result

                movie_title  title_year content_rating     budget
4026              Compadres      2016.0              R  3000000.0
3884               The Veil      2016.0              R  4000000.0
3682  Fifty Shades of Black      2016.0              R  5000000.0
3685      The Perfect Match      2016.0              R  5000000.0
3396         The Neon Demon      2016.0              R  7000000.0

## ----------------------------------------------------------------------------

#### Linea de Codigo  (No 3)

Del Dataframe organizado anteriormente, se borran registros o datos repetidos de las Columnas:

* 'title_year'
* 'content_rating'

Esto provoca, que por cada dato eliminado de la columna se borre la fila de datos  que lo contenia.
Por ultimo se imprimen las **10** primeras filas del Dataframe

In [15]:
movie4_sorted.drop_duplicates(subset=['title_year','content_rating']).head(10)

,movie_title,title_year,content_rating,budget
4026,Compadres,2016.0,R,3000000.0
4658,Fight to the Finish,2016.0,PG-13,150000.0
4661,Rodeo Girl,2016.0,PG,500000.0
3252,The Wailing,2016.0,Not Rated,NaN
4659,Alleluia! The Devil's Carnival,2016.0,NaN,500000.0
4731,Bizarre,2015.0,Unrated,500000.0
812,The Ridiculous 6,2015.0,TV-14,NaN
4831,The Gallows,2015.0,R,100000.0
4825,Romantic Schemer,2015.0,PG-13,125000.0
3796,R.L. Stine's Monsterville: The Cabinet of Souls,2015.0,PG,4400000.0

## ----------------------------------------------------------------------------

# Punto 2 (Solución)

#### Linea de Codigo  (No 1)

En esta linea de Codigo se crea un dataframe nuevo en base del original **(movie.csv)**, asignandole las misma Columnas por defecto, pero **sin Data (VACIO)**

In [22]:
df = movie;
new_df = pd.DataFrame(columns=movie.columns)
new_df.head()

Empty DataFrame
Columns: [color, director_name, num_critic_for_reviews, duration, director_facebook_likes, actor_3_facebook_likes, actor_2_name, actor_1_facebook_likes, gross, genres, actor_1_name, movie_title, num_voted_users, cast_total_facebook_likes, actor_3_name, facenumber_in_poster, plot_keywords, movie_imdb_link, num_user_for_reviews, language, country, content_rating, budget, title_year, actor_2_facebook_likes, imdb_score, aspect_ratio, movie_facebook_likes]
Index: []

[0 rows x 28 columns]

## ----------------------------------------------------------------------------

#### Linea de Codigo  (No 2)

Es esta linea de codigo crea una serie de results y concatena en un nuevo dataframe **(new_df)**, por medio de un itrador de tipo **(TextFileReader)**, que se le especifica con el **(chunksize)**

In [27]:
for movie in pd.read_csv('./movie.csv',chunksize=5):
    result = df.groupby(['movie_title']).count()
    new_df= pd.concat([new_df,result])

KeyboardInterrupt: